%tr
  - Element.display_columns.each do |column|
    %td
      / - if column.is_title
      /   = link_to profile.title, educator_profile_path(profile)
      / - else
      /   = profile.send(:"#{column.key}")
      = profile.send(:"#{column.key}")
  %td= profile.status
  %td= profile.updated_at.localtime.strftime("%Y/%m/%d %H:%M")
  %td= link_to "View", educator_profile_path(profile)