%h1= "Profile for #{@profile.title}"
%p= profile_message_for_educator(@profile)

= render 'educatee/profiles/display_tabbed'


- if current_educator
  = profile_valid_actions(@profile).join(" ")

= link_to 'Generate Application x 5', educator_profile_path(@profile, :format => :pdf, :template => "educator_application"), :class => "button"
= link_to 'Generate Resume & Financial Contract', educator_profile_path(@profile, :format => :pdf, :template => "educator_resume"), :class => "button"
= link_to 'Back to Profile list', educator_profiles_path(), :class => "button"
    