%h1= "Profile for #{@profile.title}"
%p= profile_message_for_educator(@profile)

= render 'educatee/profiles/display'


- if current_educator
  = profile_avoid_actions(@profile).join(" ")

= link_to 'Generate Application in PDF', formatted_educator_profile_path(@profile, :pdf), :class => "button"
    