<p>
  <b>Position:</b>
  <%=h @element.position %>
</p>

<p>
  <b>Key:</b>
  <%=h @element.key %>
</p>

<p>
  <b>Title cn:</b>
  <%=h @element.title_cn %>
</p>

<p>
  <b>Title jp:</b>
  <%=h @element.title_jp %>
</p>

<p>
  <b>Kind:</b>
  <%=h @element.kind %>
</p>

<p>
  <b>Description:</b>
  <%=h @element.description %>
</p>

<p>
  <b>Params:</b>
  <%=h @element.params %>
</p>

<p>
  <b>Enabled:</b>
  <%=h @element.enabled %>
</p>

<p>
  <b>Validation script:</b>
  <%=h @element.validation_script %>
</p>


<%= link_to 'Edit', edit_element_path(@element) %> |
<%= link_to 'Back', elements_path %>