<h1>Listing values</h1>

<table>
  <tr>
    <th>Student</th>
    <th>Element</th>
    <th>Element key</th>
    <th>Value</th>
  </tr>

<% @values.each do |value| %>
  <tr>
    <td><%=h value.student_id %></td>
    <td><%=h value.element_id %></td>
    <td><%=h value.element_key %></td>
    <td><%=h value.value %></td>
    <td><%= link_to 'Show', value %></td>
    <td><%= link_to 'Edit', edit_value_path(value) %></td>
    <td><%= link_to 'Destroy', value, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New value', new_value_path %>