<p>
  <b>Student:</b>
  <%=h @value.student_id %>
</p>

<p>
  <b>Element:</b>
  <%=h @value.element_id %>
</p>

<p>
  <b>Element key:</b>
  <%=h @value.element_key %>
</p>

<p>
  <b>Value:</b>
  <%=h @value.value %>
</p>


<%= link_to 'Edit', edit_value_path(@value) %> |
<%= link_to 'Back', values_path %>