%tr
  %td= form.label element.key, element.title_cn
  %td
    = form.text_field element.key
:javascript
  $("document").ready(function() {$("#profile_#{element.key}").datepicker({dateFormat: "yy-mm-dd", yearRange: '#{Time.now.year-100}:#{Time.now.year+20}', defaultDate: "1990-01-01", changeMonth: true, changeYear: true});});
