- Page.all.each do |page|
  %h2= page.title
  
  %ul
  - page.elements.each do |element|
    %li
      %strong= element.title_cn
      = ":"
      - if element.kind == "file"
        - if @profile.send(element.key)
          = image_tag(@profile.send(element.key), :size => "100x135")
        - else
          No file uploaded yet.
      - else
        = @profile.send(element.key)