%h1= "Profile"

%p= render 'display'

%p
  %strong Current State:
  = @profile.aasm_current_state.to_s
  %br
  %strong Actions:
  = link_to 'Back', :back
  - if current_educatee
    - if @profile.aasm_events_for_current_state.include?(:submit)
      = link_to 'Submit', '', :class => "button"
