%h1= "Profile for #{@profile.title}"

%p= render 'display'

%hr
%p
  %strong Current State:
  = @profile.aasm_current_state.to_s

%hr
%p
  = link_to 'Back', :back, :class => "button"
  - if current_educatee
    - if @profile.aasm_events_for_current_state.include?(:submit)
      = link_to 'Submit', '', :class => "button"
