!!!strict
%head
  %meta{"http-equiv"=>"Content-Type", "content"=>"text/html; charset=utf-8"}
  %title Manabi
  %meta{"http-equiv"=>"X-UA-Compatible", "content"=>"IE=EmulateIE7"}
  
  = stylesheet_link_tag 'screen', :media => "screen, projection"
  = stylesheet_link_tag 'print', :media => "print"
  = stylesheet_link_tag 'style', :media => "screen, projection"
  /[if lt IE 8]
    = stylesheet_link_tag 'ie', :media => "screen, projection"
  = stylesheet_link_tag 'public', :media => "screen, projection"
  = stylesheet_link_tag 'layout', :media => "screen, projection"
  = javascript_include_tag "jquery-1.3.2.min"
  = javascript_include_tag "jquery.ifixpng"

  :erb
    <script>
    $(function(){
    	$(".png").ifixpng();
    })
    $(function(){
    	$("input[type='text']").addClass('text');
    	$("input[type='text']").focus(function(){
    		$(this).css({"background":"#EEE"});
    	})
    	$("input[type='text']").blur(function(){
    		$(this).css({"background":"#FFFFFF"});
    	})

    })
    $(function(){
    	$(".submenu li").hover(function(){
    		$(this).css({"opacity":"0.6"});
    	},function(){
    		$(this).css({"opacity":"1"});
    	})
    })
    $(function(){
    	choose(".liuriChoose",".liuriCnt");
    	choose(".quzhuChoose",".quzhuCnt");
    	$(".liuriSelect").change(function(){
    		choose(".liuriChoose",".liuriCnt");
    	})
    	$(".quzhuSelect").change(function(){
    		choose(".quzhuChoose",".quzhuCnt");
    	})
    })
    function choose(obj1,obj2){
    	if($(obj1).attr("selected") == true){
    		$(obj2).hide();
    	}else{
    		$(obj2).show();
    	}
    }
    </script>
    
%body
  .top
    .container
      .ad MANABI外语学院长野校、东京校、新宿校正在招生。
      %div
        - if logged_in?
          = "Logged as #{current_account.loginable.class}: #{link_to current_account.email, ''}"
          |
          = link_to 'Logout', logout_path
        - else
          = link_to 'Login', login_path
        |
        = link_to "Help", ""
  .container
    .logo.png
    .main
      .sidebar
        .wrap
          = render :partial => "layouts/sidebar"
      .mainbar
        .blueprint
          = yield