!!!strict
%head
  %meta{"http-equiv"=>"Content-Type", "content"=>"text/html; charset=utf-8"}
  %title Tenavisa
  = stylesheet_link_tag 'compiled/screen', :media => "screen, projection"
  = stylesheet_link_tag 'compiled/print', :media => "print"
  = stylesheet_link_tag 'compiled/style', :media => "screen, projection"
  /[if lt IE 8]
    = stylesheet_link_tag 'compiled/ie', :media => "screen, projection"

%body.bp.three-col
  #container
    #header
      %h1
        = link_to 'Tenavisa', '/'
      #header_links
        %div
          = link_to 'Help', ''
          |
          - if logged_in?
            = link_to 'Logout', logout_path
          - else
            = link_to 'Login', login_path
        %div
          - if logged_in?
            = "Logged as #{current_account.loginable.class}: #{link_to current_account.email, ''}"
      #header_navis
        %ul
          - if logged_in?
            %li.current= link_to 'Dashboard', current_account.loginable.is_a?(Educatee) ? educatee_dashboard_path : educator_dashboard_path
          - else
            %li.current= link_to 'Login', login_path
          %li=# link_to 'Accounts'
          %li=# link_to 'Posts'
          %li=# link_to 'Blogs'
          %li=# link_to 'Settings'
    #sidebar
      #sidebar_wrap
        %h3 Sidebar
        %p
          %strong Sample Users
          %dt
            Educatee
          %dd
            joe andy mary danny aaron jack
          %dt
            Educator
          %dd
            jeff ben lucas
          %dt
            Operator
          %dd
            james
          %br
          %small all password is 000000
    #content
      #content_wrap
        = yield
    #footer
      #footer_wrap
        Footer ---------------------